* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  align-items: center;
  font-weight: 400;
  font-size: 36px;
  line-height: 32px;
  margin-left: 133px;
  margin-right: 133px;
}

header {
  padding-top: 36px;
  padding-bottom: 36px;
  border-bottom: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

#back {
  width: 22px;
  height: 22px;
}

#profile {
  width: 36px;
  height: 36px;
  border-radius: 100%;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
