:root {
    --yellow: #fbed56;
    --light-yellow: #fdf5a9;
    --input-green: #e9eb9499;
    --light-green: #b7d08f;
    --green: #9bc558;
    --light-orange: #e9b882;
    --orange: #ea973e;
    --dark-orange: #e06437;
    --sky-blue: #52aadd;
    --light-sky-blue: #add0e4;
    --background: #fffefb;
    --error: #fe5050;
    --border-gray: #00000029;
    --shadow-gray: #cccccc40;
    --dark-black: #333030;
    --medium-black: #494646;
    --dark-gray: #646464;
    --gray: #9b9b9b;
    --light-gray: #e9e9e9;
}

.loginTitle {
    font-family: 'NanumSquareExtraBold';
    margin-top: 161px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    line-height: 38px;
}

input:focus {
    outline: none;
    border: 2px solid var(--dark-orange);
}

.loginForm {
    margin-top: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4px;
}

.profileForm {
    margin-top: 15px;
}

.email {
    padding-top: 26px;
}

.emailPW {
    padding-top: 16px;
    padding-left: 18px;
}

.emailText {
    font-family: 'NanumSquareBold';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}

.emailInput {
    font-family: 'NanumSquare';
    margin-top: 8px;
    width: 355px;
    height: 60px;
    border-radius: 32px;
    border: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: var(--input-green);
    font-size: 16px;
    font-weight: 400;
}

.emailInput::placeholder {
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
    color: var(--dark-black);
}

#helpText {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    width: 355px;
    height: 30px;
    line-height: 14.5px;
    color: #ff0000;
    visibility: hidden;
}

.helpText {
    margin-top: 4px;
    /* margin-bottom: 4px; */
    font-size: 12px;
    font-weight: 400;
    width: 355px;
    height: 26px;
    line-height: 14.5px;
    color: #ff0000;
    visibility: hidden;
}

#loginBtn {
    font-family: 'NanumSquareExtraBold';
    width: 355px;
    height: 70px;
    background-color: var(--orange);
    border: 0px;
    border-radius: 32px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    line-height: 16.7px;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
}

#signInText {
    font-size: 16px;
    font-weight: 400;
    line-height: 16.7px;
    margin-top: 12px;
    margin-bottom: 300px;
    color: var(--gray);
    cursor: pointer;
}

#profileImg {
    width: 149px;
    height: 149px;
    background-color: var(--light-green);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 8px;
    cursor: pointer;
    z-index: 4;
}

#profilePreview {
    width: 149px;
    height: 149px;
    border-radius: 100%;
    visibility: hidden;
    z-index: 5;
}

#imagePlus {
    width: 149px;
    height: 149px;
    position: absolute;
    padding: 63px;
    border-radius: 100%;
    z-index: 6;
}

#editFinBtn {
    width: 102px;
    height: 46px;
    background-color: var(--orange);
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    color: #ffffff;
    border-radius: 30px;
    border: 0px;
    margin-bottom: 200px;
    visibility: hidden;
}

#editImgBtn {
    width: 52px;
    height: 27px;
    background-color: #00000059;
    border-radius: 25px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 17.9px;
    position: relative;
    left: 50px;
    bottom: 88px;
    cursor: pointer;
}
